@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  --cyan: #66e2dc;
  --orange: #fa7453;
  --yellow: #ffb964;
  --white: #fcfaf9;
  --slate: #191826;
  --font-family: 'IBM Plex Sans', sans-serif;
}

.text_preset_1 {
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -1px;
  font-family: var(--font-family);
}
.text_preset_2 {
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0px;
  font-family: var(--font-family);
}
.text_preset_3 {
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0px;
  font-family: var(--font-family);
}
.text_preset_4 {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: var(--font-family);
}
.text_preset_5 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: var(--font-family);
}
.text_preset_6 {
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0px;
  font-family: var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 16px;
  font-family: var(--font-family);
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: auto;
}

.intro_section {
  background-image: url('../assets/bg-main-mobile.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 220%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
  padding-block: 2rem 12rem;
  padding-inline: 2rem;
  margin-bottom: 0rem;
  position: relative;
  z-index: -1;
}

.logo_image {
  width: 70%;
  padding-bottom: 2rem;
  max-width: 10rem;
}

.tablet_image {
  display: none;
}

.intro_section h2 {
  max-width: 30rem;
}

.intro_section p {
  max-width: 33rem;
}

.bottom_section {
  margin-inline: auto;
}

.mobile_section {
  display: flex;
  background: url('/assets/bg-pattern-2.svg');
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--slate);
  background-position: 0rem 5rem;
  margin: 0rem auto;
}

.mobile_section img {
  width: 70%;
  margin: auto;
  position: relative;
  bottom: 8rem;
  z-index: inherit;
}

.cta_section {
  background: var(--orange);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cta_section_notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
}

.price span {
  font-weight: normal;
}

.button {
  padding-block: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 1.3rem;
  font-weight: bold;
}
.button img {
  margin-right: 1rem;
}

.ios_button {
  color: var(--white);
  background: var(--slate);
}

.android_button {
  color: var(--slate);
  background: var(--white);
}

.cta_buttons {
  display: flex;
  flex-direction: column;
}

.footer_section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer_bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_section img {
  width: 70%;
  max-width: 10rem;
}

.footer_section a {
  color: var(--slate);
  font-weight: bold;
}

.social_logo {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: baseline;
  margin-block: 1rem 3rem;
}

.social_logo a {
  width: 2rem;
}

@media screen and (min-width: 45rem) {
  .intro_section {
    background-image: url('../assets/bg-main-desktop.png');
  }

  .tablet_image {
    display: block;
    position: absolute;
    left: 32rem;
    bottom: 18rem;
  }

  .mobile_section img {
    margin-inline: 2rem;
    max-width: 20rem;
  }

  .bottom_section {
    display: flex;
    background-color: var(--slate);
    width: 90%;
    margin-inline: auto;
    margin-bottom: 15rem;
  }
  .mobile_section {
    flex: 1;
    background-size: 80%;
  }
  .cta_section {
    flex: 0.7;
    position: relative;
    right: 10rem;
    top: 7rem;
    border-radius: 1.5rem;
  }

  .footer_bottom {
    flex-direction: row;
  }

  .social_logo {
    width: 30%;
  }
}

@media screen and (min-width: 60rem) {
  .tablet_image {
    left: 52rem;
  }

  .container {
    width: 70%;
    margin-inline: auto;
  }

  .intro_section {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .intro_section h2 {
    max-width: 40rem;
  }

  .bottom_section {
    background-image: url('../assets/bg-pattern-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 16rem -1rem;
    width: 100%;
  }

  .mobile_section {
    flex: 0.7;
    background-size: 80%;
    position: relative;
    background: none;
    z-index: 1;
  }
  .cta_section {
    flex: 0.7;
    right: 4rem;
    top: 7rem;
    padding: 4rem;
    z-index: 1;
  }

  .footer_section{
    flex-direction: row;
    width: 100%;
  }

  .footer_section >  img{
  flex: 1;
  padding: 2rem;
  }

  .footer_bottom{
    flex: 2;
  }

  .footer_note{
    width: 60%;
  }

  .social_logo{
    max-width: 10rem;
  }
}
